<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Dashboard Professionnel</title>
</head>
<body>
  <h1>Bienvenue <%= user.email %></h1>

  <p>Ceci est votre tableau de bord professionnel.</p>


  <ul>
    <li><a href="/calendar">Voir le calendrier</a></li>
    <li><a href="/logout">Déconnexion</a></li>
  </ul>
</body>
</html>
